.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 2px solid #21bf96 !important;
}
.ant-layout-header .ant-menu {
  line-height: inherit;
  background-color: rgb(41, 41, 41) !important;
  border: none;
}
.ant-menu-horizontal > .ant-menu-item-selected a,
.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #21bf96 !important;
}

.ant-modal-content {
  overflow: auto;
  border-radius: 1rem;
}
.ant-layout{
background-color: rgb(41, 41, 41);

  }
.ant-card {
  box-shadow: 0 0.5rem 1.2rem rgb(189 197 209 / 20%) !important;
  border-radius: 5px !important;
  border: grey 1px;
  background-color: rgb(24, 24, 24) !important;
  width: 100%;
}
.ant-radio-button-wrapper:first-child {
  border-radius: 10px 0 0 10px !important;
}
.ant-radio-button-wrapper:last-child {
  border-radius: 0px 10px 10px 0px !important;

}

.ant-radio-button-wrapper{
  font-size: 20px;
  height: 45px;
  line-height: 45px;
  padding-left: 25px !important;
  padding-right: 25px !important;

}

.button-87 {
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}
.ant-menu-item, .ant-menu-submenu-title{
  white-space: normal;
  font-size: 17px;
  height: 0px !important;
}
.ant-menu-inline.ant-menu-root .ant-menu-item, .ant-menu-inline.ant-menu-root .ant-menu-submenu-title{
  display: table !important;
}
@media (min-width: 1025px)  {
  
  .ant-layout-sider-zero-width-trigger{
    display: none !important;
  }
  
}
